In [199]:
import numpy as np
import re

In [200]:
text="Hi there my age is 22 years\nHello My Name is Hashem and im 15 years old"
find=np.array(re.findall("\d\d",text),float)

In [201]:
sum1=np.sum(find,None,float)

In [202]:
print(sum1)

37.0

In [254]:
text2="From : hashem1999saqqa@gmail.com \nFrom : ahmed-emad2003@whatever.net"

find2=re.findall("From\s:\s\w*@\w*.\w*",text2)

In [255]:
res1=[]
for result in find2:
    res1.append(re.sub("From : ","",result))
res1

['hashem1999saqqa@gmail.com']

In [257]:
text3="today is the sunday 12-2-2022 \nand yesterday was 11-2-2022"
find3=re.findall("\d{1}-\d{1}-\d{3}",text3)

In [258]:
find3

['2-2-202', '1-2-202']

In [259]:
text4="i live in Gaza \nand my friend parents live in Jordan"
find4=re.findall("[A-Z]\w*",text4)

In [260]:
find4

['Gaza', 'Jordan']

In [261]:
#or
su=re.sub("in ","&&",text4)
find4_2=re.findall("&&[A-Z]\w*",su)

In [262]:
find4_2

['&&Gaza', '&&Jordan']

In [263]:
res2=[]
for result in find4_2:
    res2.append(re.sub("&&","",result))

In [264]:
res2

['Gaza', 'Jordan']

In [278]:
text5="user: Ahmed ALrayyes \nSalary: 1000$ \nAge: 26 \nuser: Hashem Alsaqqa \nSalary: 1500$ \nAge: 22\nuser: emad morad \nSalary: 2500$ \nAge: 37"
name=re.findall("user:\s[A-Za-z]*",text5)
res3=[]
for result in name:
    res3.append(re.sub("user: ","",result))
res3

['Ahmed', 'Hashem', 'emad']

In [289]:
family=re.findall("user:\s[A-Za-z]*\s[A-za-z]*",text5)
res4=[]
for result in family:
    res4.append(re.sub("user:\s[A-za-z]*\s","",result))
res4

['ALrayyes', 'Alsaqqa', 'morad']

['user: Ahmed ALrayyes', 'user: Hashem Alsaqqa', 'user: emad morad']